 

.conteneur{
    display: grid;
    min-width: 50vw;
    border: 1px solid blue;
    display: grid;
    grid-template-rows: 2fr 10fr;
    margin: auto;
    background-color: white;
    width: 90%;
    height: 100vh;
    /* justify-content: space-between; */
    
}

.entete{
    display: flex;
    background-color: #51bfd0;
    color: white;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.conteneur .entete span{
    display: flex;
    background-color: rgb(127, 255, 249);
    height: 4vh;
    color: white;
    width: 8rem;
    font-size: 1.5rem;
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
    padding: 5px;

}
.conteneur .entete a{
    text-decoration: none;
}

.corp{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1%;
    justify-content: flex-start;
}

.conste{
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 3%;
    width: 40%;
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
}

.meNu{
    background-image: linear-gradient(to bottom, white, #51bfd0);
    display: flex;
    width: 100%;
    color: white;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    /* box-shadow: 0 0 10px white,0 0 10px white,0 0 10px white,0 0 10px white; */

}
.lesA{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}
.variable{
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
    /* border: 1px solid; */
    width: 60%;
    height: 80vh;
    margin-left: 30px;
}
.lesA span a{
    font-size: 1.5em;
    margin: 2vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.lesA a{
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
}
span a img{
    width: 6%;
}

.variable{
    
    display:flex;
    margin-left: 50px;
    font-size:  1.5rem; 
    justify-content: center;
    /* justify-content: space-around; */
    /* align-items: center; */
    color: #c5bfb6;


}
/* #tableJoueur{
    width: 100%;
    display: flex;
    justify-content: center; */

/* #tableJoueur table{
    margin: auto;
   width: 90%;
   border: #51bfd0 solid 1.5px; */
/* } */
/* #tableJoueur table td{
    text-align: center;
} */
#listeJoueur{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
}
#listeJoueur > p{
    align-self: center;
}
#toph img{
    
    border-radius: 200px;
    border: #000d0f solid 1px;
    width: 6rem;
    height: 6rem;
    
}

