 

.conteneur{
    display: grid;
    min-width: 50vw;
    border: 10px solid #51bfd0;
    display: grid;
    grid-template-rows: 2fr 10fr;
    margin: auto;
    background-color: white;
    width: 90%;
    height: 100vh;
    /* justify-content: space-between; */
    
}

.entete{
    display: flex;
    background-color: #51bfd0;
    color: white;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.conteneur .entete span{
    display: flex;
    background-color: white;
    height: 4vh;
    color: #51bfd0;
    width: 10rem;
    font-size: 1.5rem;
    margin-left: 4vw;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;

}
.conteneur .entete a{
    text-decoration: none;
}

.corp{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -8vh;
    padding: 1%;
    justify-content: flex-start;
    margin-left: 5vw;
    /* border: #000d0f solid 1px; */
}

.conste{
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: 3%;
    width: 30%;
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
    border-radius: 10px;
    background-color: #f7f7f7fd;
}

.meNu{
    background-image: linear-gradient(to bottom, white, #51bfd0);
    display: flex;
    width: 100%;
    color: white;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    /* box-shadow: 0 0 10px white,0 0 10px white,0 0 10px white,0 0 10px white; */

}
#toph img{
    
    border-radius: 200px;
    border: #000d0f solid 1px;
    width: 6rem;
    height: 6rem;
    
} 
.lesA{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}
.variable{
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
    display:flex;
    font-size:  1.5rem; 
    justify-content: center;
    /* justify-content: space-around; */
    /* align-items: center; */
    color: gray;
    width: 50%;
    height: 80vh;
    margin-left: 30px;
    margin-top: 0;
    border-radius: 15px;
    background-color: #f7f7f7fd;
}
.lesA span a{
    font-size: 1.5em;
    margin: 2vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.lesA span a:hover{
    border-left: #51bfd0 solid 5px;
    background-color: peachpuff;
    color: black;
    font-weight: bold;
}
.lesA a{
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
}
span a img{
    width: 6%;
}


#tableJoueur{
    width: 100%;
    display: flex;
    justify-content: center; 
}

 #tableJoueur table{
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
    /* margin: auto; */
   width: 90%;
   border: #51bfd0 solid 1.5px;
   
 } 
#tableJoueur table td{
    text-align: center;

} 
#listeJoueur{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
}
#listeJoueur  p{
    align-self: center;
}
.buttonPaginer{
    display: flex;
    justify-content: space-between;
    /* border: #000d0f solid 2px; */
    background-image: linear-gradient(to bottom,white,#51bfd0);
    margin: 3rem 0;
    /* position: relative; */
    height: 12vh;
    justify-content: space-around;
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    
}
.numeruPage a{
    display: flex;
    /* display: block; */
    width: 30%;
    color: white;
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
    font-weight: bold;
    background-color: #51bfd0;

}
.buttonPaginer button{
    box-shadow: 0 0 10px gainsboro,0 0 10px gainsboro,0 0 10px gainsboro;
    background-color: #51bfd0;
    width: 20%;
    height: 5vh;
    border-radius: 5px;
    margin: 0 2vw;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}
.buttonPaginer button a{
    text-decoration: none;
    color: white;

}


